cosa-enc.opensdf
cosa-enc/Release/cosa-enc.tlog/CL.read.1.tlog
cosa-enc/Release/cosa-enc.tlog/CL.write.1.tlog
cosa-enc/Release/cosa-enc.tlog/cl.command.1.tlog
cosa-enc/Release/cosa-enc.tlog/cosa-enc.lastbuildstate
cosa-enc/Release/cosa-enc.tlog/link.command.1.tlog
cosa-enc/Release/cosa-enc.tlog/link.read.1.tlog
cosa-enc/Release/cosa-enc.tlog/link.write.1.tlog
cosa-enc.sdf
*.jpg
*.pgm
cosa-enc/Debug/cosa-enc.tlog/CL.write.1.tlog
bin/cosa-enc.exe
bin/cosa-enc.pdb
cosa-enc/Debug/camera.obj
*.log
cosa-enc/Debug/cosa-enc.tlog/cl.command.1.tlog
cosa-enc/Debug/cosa-enc.tlog/CL.read.1.tlog
cosa-enc/Debug/cosa-enc.tlog/cosa-enc.lastbuildstate
cosa-enc/Debug/cosa-enc.tlog/link.command.1.tlog
cosa-enc/Debug/cosa-enc.tlog/link.read.1.tlog
cosa-enc/Debug/cosa-enc.tlog/link.write.1.tlog
cosa-enc/Debug/cosa_common.obj
cosa-enc/Debug/cvideo.obj
cosa-enc/Debug/dct.obj
cosa-enc/Debug/dec_config.obj
cosa-enc/Debug/enc_config.obj
cosa-enc/Debug/img_tools.obj
cosa-enc/Debug/main.obj
cosa-enc/Debug/rema.obj
cosa-enc/Debug/utility.obj
cosa-enc/Debug/vc120.idb
cosa-enc/Debug/vc120.pdb
cosa-enc/Release/camera.obj
cosa-enc/Release/cosa_common.obj
cosa-enc/Release/cvideo.obj
cosa-enc/Release/dct.obj
cosa-enc/Release/dec_config.obj
cosa-enc/Release/enc_config.obj
cosa-enc/Release/img_tools.obj
cosa-enc/Release/main.obj
cosa-enc/Release/rema.obj
cosa-enc/Release/utility.obj
cosa-enc/Release/vc120.pdb
cosa-enc/Release/camera.nativecodeanalysis.xml
cosa-enc/Release/cosa_common.nativecodeanalysis.xml
cosa-enc/Release/cvideo.nativecodeanalysis.xml
cosa-enc/Release/dct.nativecodeanalysis.xml
cosa-enc/Release/dec_config.nativecodeanalysis.xml
cosa-enc/Release/enc_config.nativecodeanalysis.xml
cosa-enc/Release/img_tools.nativecodeanalysis.xml
cosa-enc/Release/main.nativecodeanalysis.xml
cosa-enc/Release/rema.nativecodeanalysis.xml
cosa-enc/Release/utility.nativecodeanalysis.xml
